@model List<Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="container-fluid movie-container">
    <div class="card-deck" style="display:flex; gap:50px;">
  @foreach (var movie in Model)
{
            <div class="card" style="background:#262626; padding: 25px;
                 background-color: #262626;border-radius:12px;">
                <img asp-append-version="true" src="@movie.Image" class="card-img-top" alt="Movie Image" style="height: 400px;border-radius:7px; object-fit: cover;">
                <div class="card-body">

                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">See More</a>
                </div>
            </div>
}
    </div>
</div>




