@model IEnumerable<Movie>


<div class="container-fluid movie-container">
    <div class="card-deck" style="display:flex; gap:50px;">
        @foreach (var PopularMovies in Model)
        {
            <div class="card" style="background:#262626;">
                <img asp-append-version="true" src="@PopularMovies.Image" class="card-img-top" alt="Movie Image" style="height: 400px; object-fit: cover;">
                <div class="card-body">

                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@PopularMovies.Id" class="btn btn-primary">See More</a>
                </div>
            </div>
        }
    </div>
</div>
