@model User;

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Login" asp-action="AuthLogin" method="post">
                        <!-- Gmail Address -->
                        <div class="mb-3">
                            <label asp-for="GmailAddress" class="form-label">Gmail:</label>
                            <input asp-for="GmailAddress" class="form-control"  />
                            <span asp-validation-for="GmailAddress" style="color:red"></span>
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password:</label>
                            <input asp-for="Password" type="password" class="form-control"  />
                            <span asp-validation-for="Password" style="color:red"></span>
                            <a asp-action="SendGmail" asp-controller="ResetPassword">Forgot Password</a>
                            
                        </div>

                        <!-- Submit Button -->
                        <div style="display:flex;">
                            <div>
                                <button style="padding:10px;" type="submit" class="btn btn-primary">Login</button>
                            </div>
                            
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
