@model User;

<style>
    .container {
        margin-top: 80px;
    }

    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #141414;
        color: #ffffff;
        padding: 20px;
    }

    .card-header {
        background-color: #E50000;
        color: #ffffff;
        text-align: center;
        border-radius: 15px 15px 0 0;
        padding: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #E50000;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
    }

    .mb-3 {
        margin-bottom: 15px;
    }

    input.form-control {
        background-color: #0F0F0F;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 10px;
    }

    span {
        color: red;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Login" asp-action="AuthLogin" method="post">
                        <div class="mb-3">
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <span style="color:red">   @TempData["ErrorMessage"]</span>
                                          }

                            @if (TempData["ErrorMessage2"] != null)
                            {
                                <span style="color:red">   @TempData["ErrorMessage2"]</span>
                            }
                                          <br />
                            <label asp-for="GmailAddress" class="form-label">Gmail:</label>
                            <input asp-for="GmailAddress" class="form-control" />
                            <span asp-validation-for="GmailAddress" style="color:red"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password:</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" style="color:red"></span>
                            <a asp-action="SendGmail" asp-controller="ResetPassword" style="color: #ffffff; margin-left: 10px;">Forgot Password</a>
                        </div>

                        <div style="display:flex; justify-content: space-between; align-items: center;">
                            <div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
