/* Common styles for all devices */
body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}

.container-wrapper {
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: -200px;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('/Images/Sub Container.png');
        background-size: cover;
        background-position: center;
        filter: blur(-5px);
        z-index: -1;
    }
}

/* Responsive styles using media queries */
@media (max-width: 768px) {
    .container-wrapper::before {
        top: 0;
    }

    .navbar {
        margin-top: 10px;
    }

    .ImgDiv .Main-Image {
        margin-top: 50px;
    }

    main .Best-streaming-exp-container {
        margin-top: -40px;

        h1 {
            font-size: 40px;
        }
    }

    main .explore-categories-container .upper-box {
        margin-left: 20px;
    }

    main .explore-categories-container .lower-box {
        justify-content: space-evenly;
        gap: 20px;
    }

    main .provide-streaming-exp-container .Upper-box {
        margin-left: 20px;

        h1 {
            font-size: 32px;
        }
    }

    main .provide-streaming-exp-container .Lower-box .Lower-Form-box {
        width: 100%;
        max-width: 350px;
    }

    main .card-container .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .plan-container .plan-Upper-box {
        margin-left: 20px;
    }

    .card-container {
        .card {
            .card-body {
                .card-title {
                    font-size: 24px;
                }
            }
        }
    }
}
