
@{
    ViewData["Title"] = "Home Page";
}
@model List<Movie>
@inject IMovieService _MovieService
<style>
    .red-icon {
        color: red;
    }

    .icon-box {
        background-color: #1F1F1F;
        border-radius: 8px;
        padding:12px;
    }

 
</style>
<div class="container-wrapper">


    <div class="ImgDiv" style="min-height: 700px">
        <img class="Main-Image" src="" asp-append-version="true" alt="Responsive Image" />
    </div>

</div>



<main>
    
    <div class="Best-streaming-exp-container">

       
            

  
    
        <h1>
            The Best Streaming Experience
        </h1>
        <p>StreamVibe is the best streaming experience for watching your favorite movies and shows on demand, 
           anytime, anywhere. With StreamVibe, you can enjoy a wide variety of content, including the latest blockbusters, 
           classic movies, popular TV shows, and more.You can also create your own watchlists, so you can easily find the content you want to watch.
       </p>
        <button class="btn" onclick="scrollToCards()"> Start Watching Now</button>
    </div>




    <div class="explore-categories-container" id="exploreCategories">
        <div class="upper-box">
            <button style="background:#E50000;padding:10px; color:white; border-radius:12px;max-width:115px;text-decoration:none; border:none; font-size:25px;margin-bottom:15px;">Movies</button>
            <br />
            <p style=" color:white; font-weight:bolder; font-size:25px;margin-top:15px;">Our Genres</p>

         
        </div>
        <div class="lower-box">
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="Movies" asp-route-genre="Action">
                    <img src="~/Images/Container(1).png" asp-append-version="true" />
                    <div style="display:flex;gap:170px;   color: #999999; ">
                        <p>Action</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="Movies" asp-route-genre="Adventure">
                    <img src="~/Images/Container(2).png" asp-append-version="true" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Adventure</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="Movies" asp-route-genre="Comedy">
                    <img src="~/Images/Container(3).png" asp-append-version="true" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Comedy</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="Movies" asp-route-genre="Drama">
                    <img src="~/Images/Container(4).png" asp-append-version="true" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Drama</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="Movies" asp-route-genre="Horror">
                    <img src="~/Images/Container(5).png" asp-append-version="true" />
                    <div style="display:flex;gap:170px; color:#999999; margin-top:10px;">
                        <p>Horror</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>





    <div class="explore-categories-container">
        <div class="upper-box">
            <p style="color:white; font-weight:bolder; font-size:20px;">Popular Top 10 In Genres</p>
        </div>
        <div class="lower-box">
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="PopularMovies" asp-route-genre="Action">
                    <img style="object-fit: cover;
                    max-width:236px;min-height:252px; border-radius:12px;" src="~/Images/Container.png" asp-append-version="true"
                   alt="Action Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Action</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="PopularMovies" asp-route-genre="Adventure">
                    <img src="~/Images/Container(2).png" asp-append-version="true" alt="Adventure Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Adventure</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="PopularMovies" asp-route-genre="Comedy">
                    <img src="~/Images/Container(3).png" asp-append-version="true" alt="Comedy Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Comedy</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="PopularMovies" asp-route-genre="Drama">
                    <img src="~/Images/Container(4).png" asp-append-version="true" alt="Drama Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Drama</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Movie" asp-action="PopularMovies" asp-route-genre="Horror">
                    <img src="~/Images/Container(5).png" asp-append-version="true" alt="Horror Image" />
                    <div style="display:flex;gap:170px; color:#999999; margin-top:10px;">
                        <p>Horror</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="explore-categories-container" id="showcontainer">
        <div class="upper-box">
            <button style="background:#E50000;padding:10px; color:white; border-radius:12px;max-width:115px;text-decoration:none; border:none; font-size:25px;margin-bottom:15px;">Shows</button>

            <br />
            <p style=" color:white; font-weight:bolder; font-size:25px;margin-top:15px;">Our Genres</p>


        
        </div>
        <div class="lower-box">
            <div class="card-box" data-genre="Action">
                <a style="text-decoration:none" asp-controller="Show" asp-action="Shows" asp-route-genre="Action">
                    <img style="object-fit: cover;
                    max-width:236px;min-height:252px; border-radius:12px;" src="~/Images/Container.png" asp-append-version="true"
                         alt="Action Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Action</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Show" asp-action="Shows" asp-route-genre="Adventure">
                    <img src="~/Images/Container(2).png" asp-append-version="true" alt="Adventure Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Adventure</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Show" asp-action="Shows" asp-route-genre="Comedy">
                    <img src="~/Images/Container(3).png" asp-append-version="true" alt="Comedy Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Comedy</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Show" asp-action="Shows" asp-route-genre="Drama">
                    <img src="~/Images/Container(4).png" asp-append-version="true" alt="Drama Image" />
                    <div style="display:flex;gap:170px; color: #999999; margin-top:10px;">
                        <p>Drama</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="card-box">
                <a style="text-decoration:none" asp-controller="Show" asp-action="Shows" asp-route-genre="Horror">
                    <img src="~/Images/Container(5).png" asp-append-version="true" alt="Horror Image" />
                    <div style="display:flex;gap:170px; color:#999999; margin-top:10px;">
                        <p>Horror</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="provide-streaming-exp-container">
        <div class="Upper-box">
            <h1>We Provide you streaming experience across various devices.</h1>
            <p>With StreamVibe, you can enjoy your favorite movies and TV shows anytime, anywhere. Our platform is designed to be compatible with a wide range of devices, ensuring that you never miss a moment of entertainment.</p>
        </div>
        <div class="Lower-box" style="display:flex; gap:20px;">
            <div class="Lower-Form-box" >
                <h3 style="color:white;" class="icon-box"><i class="bi bi-phone red-icon"></i> Smartphones</h3>
                <p style="color: #999999;">StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store or the Apple App Store</p>
            </div>
            <div class="Lower-Form-box">
                <h3 style="color:white;" class="icon-box"><i class="bi bi-tablet red-icon"></i> Tablet</h3>
                <p style="color: #999999;">StreamVibe is optimized for both Android and iOS tablets. Download our app from the Google Play Store or the Apple App Store</p>
            </div>
            <div class="Lower-Form-box">
                <h3 style="color:white;" class="icon-box"><i class="bi bi-watch red-icon"></i> Smart Watch</h3>
                <p style="color: #999999;">StreamVibe is optimized for smartwatches. Download our app from the Google Play Store or the Apple App Store</p>
            </div>
        </div>
        <div class="Lower-box" style="display:flex; gap:20px;">
            <div class="Lower-Form-box">
                <h3 style="color:white;" class="icon-box"><i class="bi bi-laptop red-icon"></i> Laptops</h3>
                <p style="color: #999999;">StreamVibe is optimized for laptops. Download our app from the Google Play Store or the Apple App Store</p>
            </div>
            <div class="Lower-Form-box">
                <h3 style="color:white;" class="icon-box"><i class="bi bi-joystick red-icon"></i> Gaming Consoles</h3>
                <p style="color: #999999;">StreamVibe is optimized for gaming consoles. Download our app from the Google Play Store or the Apple App Store</p>
            </div>
            <div class="Lower-Form-box">
                <h3 style="color:white;" class="icon-box"><i class="bi bi-vr red-icon"></i> VR Headsets</h3>
                <p  style="color: #999999;">StreamVibe is optimized for VR headsets. Download our app from the Google Play Store or the Apple App Store</p>
            </div>
        </div>
    </div>


    <div class="plan-container">
        <div class="plan-Upper-box" style="margin-left:150px; color:white; margin-top:50px;">
            <h2>Choose the plan that's right for you</h2>
            <p>Join StreamVibe and select from our flexible subscription options tailored to suit your viewing preferences. Get ready for non-stop entertainment!</p>
        </div>

        <div class="card-container" style="display:flex;gap:15px;justify-content:space-evenly; ">


            <div style="display:flex;gap:100px; align-items:flex-start;flex-wrap:wrap;">

                <!-- First Subscription Card -->
                <div style="background:#262626; border-radius:10px; padding: 20px; text-align: center; color:white; max-width: 400px; margin-left:120px; margin-top:30px;">
                    <h2>Basic Plan</h2>
                    <p>Description: Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.</p>
                    <p>$9.99<span style="font-size: 12px;">/Month</span></p>
                    <a style="text-decoration:none" asp-controller="Subscription" asp-action="Subscription" asp-route-planType="Basic">
                        <button style="background-color: green; color: #fff; padding: 10px 20px; border: none; cursor: pointer; border-radius:5px;">
                            Purchase Plan
                        </button>
                    </a>
                </div>

                <!-- Second Subscription Card -->
                <div style="background:#262626; border-radius:10px; padding: 20px; text-align: center; color:white; max-width: 400px; margin-left:120px; margin-top:30px;">
                    <h2>Strandard Plan</h2>
                    <p>Description: Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.</p>
                    <p>$14.99<span style="font-size: 12px;">/Month</span></p>
                    <a style="text-decoration:none" asp-controller="Subscription" asp-action="Subscription" asp-route-planType="Standard">
                        <button style="background-color: green; color: #fff; padding: 10px 20px; border: none; cursor: pointer; border-radius:5px;">
                            Purchase Plan
                        </button>
                    </a>
                </div>

                <!-- Third Subscription Card -->
                <div style="background:#262626; border-radius:10px; padding: 20px; text-align: center; color:white; max-width: 400px; margin-left:120px; margin-top:30px;">
                    <h2>Premiun Plan</h2>
                    <p>Description: Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.</p>
                    <p>$19.99<span style="font-size: 12px;">/Month</span></p>
                    <a style="text-decoration:none" asp-controller="Subscription" asp-action="Subscription" asp-route-planType="Premium">
                        <button style="background-color: green; color: #fff; padding: 10px 20px; border: none; cursor: pointer; border-radius:5px;">
                            Purchase Plan
                        </button>
                    </a>
                </div>
            </div>


         

        
        

        </div>
    </div>




      
       


</main>


<script>
    function scrollToCards() {
        const cardsContainer = document.getElementById('exploreCategories');
        
        
        if (cardsContainer) {
            cardsContainer.scrollIntoView({ behavior: 'smooth' });
        }


    }



 

</script>
