<div class="container mt-5">
    <div class="card">
        <div class="card-body  text-white">
            <h2 class="card-title text-center  mb-4" style="color:#999999;">Add Your Review</h2>

            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                </div>

                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" class="form-control" id="location" placeholder="Enter your location" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" rows="4" placeholder="Enter your review description" required></textarea>
                </div>
                <br />
                <br />
                <button type="submit" class="btn btn-success btn-block">Submit Review</button>
            </form>
        </div>
    </div>
</div>