@model Support

<div class="container-fluid container d-flex flex-col md:flex-row justify-content-evenly md:items-center" style="margin-top: 100px; gap: 100px;">

    <div class="Left-side text-center md:text-left max-w-2xl mb-4 md:mb-0">
        <h1 style="color: white;">Welcome to our support page!</h1>
        <p style="color: #999999; padding-top: 10px;">We're here to help you with any problems you may be having with our product.</p>
        <div>
            <img src="~/Images/Sub Container(1).png" class="img-fluid" style="margin-top: 50px;" />
        </div>
    </div>
    <form asp-controller="Support" asp-action="SubmitSupportRequest" method="post" class="Right-side bg-black p-4 rounded-lg flex-grow">
        <div class="flex flex-col gap-4">
            <div class="flex-grow">
                <label asp-for="FirstName" style="color: white;"></label>
                <input asp-for="FirstName" placeholder="FirstName" style="padding: 15px; background: #262626; border-radius: 8px; border: none; outline: none; color: #999999; font-size: 18px; width: 100%;" />
                <span style="color: red" asp-validation-for="FirstName"></span>
            </div>
            <div class="flex-grow">
                <label asp-for="LastName" style="color: white;"></label>
                <input asp-for="LastName" placeholder="LastName" style="padding: 15px; background: #262626; border-radius: 8px; border: none; outline: none; color: #999999; font-size: 18px; width: 100%;" />
                <span style="color: red" asp-validation-for="LastName"></span>
            </div>
            <div>
                <label asp-for="EmailAddress" style="color: white;"></label>
                <input value="wanda73@ethereal.email" disabled asp-for="EmailAddress" placeholder="EmailAddress" style="padding: 15px; background: #262626; border-radius: 8px; border: none; outline: none; color: #999999; font-size: 18px; width: 100%;" />
            </div>
            <div>
                <label asp-for="PhoneNumber" style="color: white;"></label>
                <input asp-for="PhoneNumber" placeholder="PhoneNumber" style="padding: 15px; background: #262626; border-radius: 8px; border: none; outline: none; color: #999999; font-size: 18px; width: 100%;" />
                <span style="color: red" asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="Comment" style="color: white;">Leave a Comment:</label>
                <textarea asp-for="Comment" id="userComment" placeholder="Type your comment here..." style="width: 100%; resize: both; background: #262626; outline: none; border: none; padding: 15px; color: white; border-radius: 8px; font-size: 18px;"></textarea>
                <span style="color: red" asp-validation-for="Comment"></span>
            </div>
            <div>
                <button class="btn" type="submit" style="background: #E50000; color: white; padding: 15px; border-radius: 8px; margin-top: 20px; font-size: 18px; width: 100%;">Send Message</button>
            </div>
        </div>
    </form>
</div>
