@model Support

<div class="container-fluid container d-flex justify-content-evenly" style="margin-top:100px; gap:100px;">
    <div class="Left-side" style="max-width:400px; letter-spacing:2px;">
        <h1 style="color:white;">Welcome to our support page!</h1>

        <p style="color:#999999; padding-top:10px;">We're here to help you with any problems you may be having with our product.</p>

        <div>
            <img src="~/Images/Sub Container(1).png" class="img-fluid" style="margin-top:50px;" />
        </div>
    </div>
    <form asp-controller="Support" asp-action="SubmitSupportRequest" method="post">
        <
        <div class="Right-side">
            <div style="display:flex; gap:70px;flex-wrap:wrap;">
                <div>
                    <label asp-for="FirstName"></label>
                    <br />
                    <input asp-for="FirstName" placeholder="FirstName" />
                    <br />
                    <span style="color:red" asp-validation-for="FirstName"></span>
                </div>

                <div>
                    <label asp-for="LastName"></label>
                    <br />
                    <input asp-for="LastName" placeholder="LastName" />
                    <br />
                    <span style="color:red" asp-validation-for="LastName"></span>
                </div>
            </div>
            <br />
            <br />
            <div style="display:flex; gap:70px;">
                <div>
                    <label asp-for="EmailAddress"></label>
                    <br />
                    <input value="wanda73@ethereal.email" disabled asp-for="EmailAddress" placeholder="EmailAddress" />
                  
                </div>

                <div>
                    <label asp-for="PhoneNumber"></label>
                    <br />
                    <input  asp-for="PhoneNumber" />
                    <br />
                    <span style="color:red" asp-validation-for="PhoneNumber"></span>
                </div>
            </div>

            <br />
            <br />
            <div>
                <label asp-for="Comment">Leave a Comment:</label>
                <br />
                <textarea asp-for="Comment" id="userComment"
                          placeholder="Type your comment here..."
                          style="width: 100%; resize: both; background: #262626; outline: none; border: none;height:100px; padding:15px; color: white; border-radius: 12px;">
    </textarea>
                <br />
                <span style="color:red" asp-validation-for="Comment"></span>
            </div>

        
                <div>
                    <button class="btn" type="submit" style="background:#E50000; color:white; padding:18px 24px 18px 24px;border-radius:12px;margin-top:35px;">Send Message</button>
                </div>
            




        </div>
    </form>

</div>


