@model CinemaClix.Models.Subscriptions

<style>
    .styled-table {
        border-collapse: collapse;
        width: 80%;
        margin: auto;
    }

        .styled-table th,
        .styled-table td {
            border: 1px solid #6c757d;
            padding: 12px;
            text-align: center;
        }

        .styled-table thead {
            background-color: #212529;
            color: #ffffff;
        }

        .styled-table tbody tr:nth-child(even) {
            background-color: #6c757d1a;
        }

        .styled-table tbody tr:hover {
            background-color: #6c757d33;
        }

    .center-text {
        text-align: center;
        margin-top: 20px;
    }

    .no-subscription-info {
        font-size: 30px;
        color: #6c757d;
    }

    .delete-button {
        margin-top: 20px;
    }

    button {
        background-color: red;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        border: none;
    }
</style>

@if (Model != null)
{
    <div class="container mt-5">
        <form asp-controller="Subscription" asp-action="DeleteSubscription" method="post">
            <table class="styled-table table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Subscription ID</th>
                        <th>Plan Type</th>
                        <th>Added By</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    <tr>
                        <td>@Model.SubscriptionPlanId</td>
                        <td>@Model.PlanType</td>
                        <td>@Model.AddedBy</td>
                        <td>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="center-text">
            <button type="submit" class="btn btn-danger"><a style="text-decoration:none; color:white; padding:20px;" asp-action="Subscriptions" asp-controller="Subscription">See Other Subscriptions</a></button>
        </div>
    </div>
}
else
{
    <div class="center-text">
        <p class="no-subscription-info">No subscription information available.</p>
        <button type="submit" class="btn btn-danger"><a style="text-decoration:none; color:white; padding:20px;" asp-action="Subscriptions" asp-controller="Subscription">Subscribe</a></button>
    </div>
}