@model List<SubscriptionPlans>

<div style="display: flex; justify-content: center; gap: 50px; flex-direction: row;margin-top:50px; flex-wrap:wrap;">

    @foreach (var Sub in Model)
    {
        <div style="background: #262626; border-radius: 10px; padding: 20px; text-align: center; color: white; max-width: 400px;">
            <h2>@Sub.PlanType</h2>
            <p>Description: Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.</p>
            <p>@Sub.PlanPrice<span style="font-size: 12px;">/Month</span></p>
            <a style="text-decoration:none" asp-controller="Subscription" asp-action="Subscription" asp-route-planType="@Sub.PlanType">
                <button style="background-color: green; color: #fff; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
                    Purchase Plan
                </button>
            </a>
        </div>
    }

</div>
