@model ResetPassword

<style>
    .container {
        margin-top: 80px;
    }

    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #0F0F0F;
        color: #FFFFFF;
        padding: 20px;
    }

    .card-header {
        background-color: #E50000;
        color: #FFFFFF;
        text-align: center;
        border-radius: 15px 15px 0 0;
        padding: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #1A1A1A;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #1A1A1A;
        color: #FFFFFF;
    }

    .form-group {
        margin-top: 30px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        font-size: 14px;
        background-color: #0F0F0F;
        color: #FFFFFF;
    }

    .btn-primary {
        background-color: #E50000;
        color: #FFFFFF;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn-primary:hover {
        background-color: #990000;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Reset Password</h3>
                    <p >Enter your email address and verification code to reset your password</p>
                </div>
                <div class="card-body">
                    @if (Context.Request.Cookies["ResetPasswordToken"] == null)
                    {
                        <form asp-controller="ResetPassword" asp-action="SendResetLink" method="post" id="resetPasswordForm">

                            <div class="form-group">
                                <label asp-for="To" class="form-label">Email:</label>
                                <input disabled value="wanda73@ethereal.email" asp-for="To" type="email" class="form-control " style="color:black" required />
                                <br />
                                <button type="submit" class="btn btn-success btn-block">Send Gmail</button>
                            </div>

                            <div class="form-group text-center" style="margin-top:10px;">
                                <a asp-action="Login" asp-controller="Account" class="text-muted">Remember your password? Log in here.</a>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form asp-action="VerifyCode" asp-controller="ResetPassword" method="post">

                            <div class="form-group">
                                <label class="form-label">Verification Code:</label>
                                <input id="verificationInput" name="verificationCode" required type="text" class="form-control VerificationInput" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Verify Code</button>
                            </div>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
