@model ResetPassword

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Forgot Password</h3>
                    <p class="text-muted">Enter your email address to reset your password</p>
                </div>
                <div class="card-body">
                    <form asp-controller="ResetPassword" asp-action="SendResetLink" method="post">

                        <!-- Email Address -->
                        <div class="form-group">
                            <label asp-for="To" class="form-label">Email:</label>
                            <input value="wanda73@ethereal.email" asp-for="To" type="email" class="form-control" required />
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group text-center" style="margin-top:25px;">
                            <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                        </div>

                        <!-- Login Link -->
                        <div class="form-group text-center" style="margin-top:25px;">
                            <a asp-action="Login" asp-controller="Login" class="text-muted">Remember your password? Log in here.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
