@model User;

<style>
    .container {
        margin-top: 80px;
    }

    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #0F0F0F;
        color: #FFFFFF;
        padding: 20px;
    }

    .card-header {
        background-color: #E50000;
        color: #FFFFFF;
        text-align: center;
        border-radius: 15px 15px 0 0;
        padding: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #1A1A1A;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #1A1A1A;
        color: #FFFFFF;
    }

    .form-group {
        margin-top: 30px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        font-size: 14px;
        background-color: #0F0F0F;
        color: #FFFFFF;
    }

    .btn-primary {
        background-color: #E50000;
        color: #FFFFFF;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .btn-primary:hover {
            background-color: #990000;
        }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 style="color: #FFFFFF;">Update Password</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="ResetPassword" asp-action="UpdateUser" method="post">
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <span style="color:red"> @TempData["ErrorMessage"]</span>
                        }
                        <div class="form-group">
                            <label asp-for="GmailAddress" class="form-label">Gmail:</label>
                            <input asp-for="GmailAddress" class="form-control" required />
                            <span asp-validation-for="GmailAddress" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="margin-top:30px;">
                            <label asp-for="Password" class="form-label">New Password:</label>
                            <input asp-for="Password" type="password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="text-center" style="margin-top:30px;">
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
